.tickets-move,
.tickets-enter-active,
.tickets-leave-active {
  transition:  0.5s;
  opacity: 0.5;
}

.tickets-enter-from,
.tickets-leave-to {
  opacity: 0;
  transform: translateX(30px);
}