@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/proximanova-400.woff2") format("woff2");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/proximanova-700.woff2") format("woff2");
}
