@font-face {
  font-family: "Icomoon";
  font-weight: 700;
  font-display: swap;
  src: url("fonts/icomoon.woff") format("woff");
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  text-transform: none;
  line-height: 1;
}

.icon-close {
  font-size: 24px;
}

.icon-close::before {
  content: "\e901";
}

.icon-filters {
  font-size: 24px;
}

.icon-filters:before {
  content: "\e902";
}

.icon-arrow2:before {
  content: "\e90a";
}

.icon-arrow:before {
  content: "\e903";
}

.icon-baggage {
  font-size: 16px;
  margin-right: 8px;
}

.icon-baggage:before {
  content: "\e904";
}

.icon-check::before {
  content: "\e90b";
}

.icon-date:before {
  content: "\e906";
}

.icon-luggage {
  font-size: 16px;
  margin-right: 8px;
}

.icon-luggage:before {
  content: "\e907";
}

.icon-plane {
  font-size: 24px;
}

.icon-plane:before {
  content: "\e908";
}

.icon-return {
  font-size: 16px;
  margin-right: 8px;
}

.icon-return:before {
  content: "\e909";
}
