.filters {
  display: flex;
  align-items: center;
}

.filters__checkbox {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 22px 22px 22px 42px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 4px;
}

.filters__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 191px;
  padding: 20px 24px;
  color: #ffffff;
  background-color: #293553;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters__panel {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70%;
  background-color: #293553;
  color: #ffffff;
  border: 1px solid #ddd;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  z-index: 1;
  margin: 0;
  padding: 20px;
  list-style-type: none;
}


.filters__panel-label {
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 26px;
}

.isPanelOpen {
  display: block;
}

.filters__close {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 13px;
  right: 72%;
  cursor: pointer;
  z-index: 20;
}
