.filters {
  display: flex;
  align-items: center;
  gap: 2px;
}

.filters__checkbox {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 44px 20px 24px;
  border-radius: 4px;
}

.filters__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 191px;
  padding: 20px 24px;
  color: #ffffff;
  background-color: #293553;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filters__panel {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.filters__panel-inner {
  width: 262px;
  padding: 24px;
  color: #ffffff;
  background-color: #293553;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.filters__panel-title {
  margin: 0 0 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}

.filters__close {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
