.page-header {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 52px;
  padding: 66px 12px 72px;
}

.page-header__path {
  margin: 0;
  margin-left: 26px;
}

.page-header__direction {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-right: 15px;
  padding-left: 17px;
  margin-top: 8px;
}

.page-header__date {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 8px;
}
